*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    background:linear-gradient(rgb(20, 17, 179),rgb(31, 180, 25));
    background-repeat: no-repeat;
    height: 93vh;
}


.tablero{
    margin:40px auto;
    width:500px;
    height:500px;
   font-size: 30px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(8,1fr);
 grid-template-rows: repeat(8,1fr);
 border: 3px solid black;
 user-select: none;
 text-align: center;
}

.columna{
    border: 1px solid black;
}

.negra{
    background-color:rgb(165, 112, 32);
}

.columna:hover,.negra:hover{
font-weight: 700;
transition: 0.2s ease-in-out;
}